:root {
  /*index.html bg colors*/
  --main-background-color: #ffffff;
  --header-background-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-background-color: #f5f5f5;
  --team-bg-color: #f5f4fa;

  /*index.html text colors*/

  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --address-text-color: 757575;
  --address-footer-text-color: rgba(255, 255, 255, 0.6);
  --address-text-accent-color: #2196f3;

  --header-text-color: #212121;
  --header-text-accent-color: #2196f3;
}

/*--common design elements--загальні елементи оформлення--*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

p {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.buttons {
  font-family: inherit;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
}
.buttons-filter {
  font-family: inherit;
  background-color: #2196f3;
  color: #ffffff;
  padding: 6px 22px;
}

/*-----------------------------------------------------------*/

header {
  background-color: var(--header-bg-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
}

.topLogo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--main-text-color);
}

.menu-item {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  color: var(--header-text-accent-color);
}

.adress-item {
  color: #757575;
}

.adress-item:hover,
.adress-item:focus {
  color: var(--address-text-accent-color);
}

/*------------------HERO------------------------*/

.hero {
  background-color: var(--hero-bg-color);
  color: var(--hero-text-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/*------------------MAIN and Main portfolio-----------------*/
.list-item-1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.list-item-text-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.list-item-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}

.list-item-text-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
/*------------------TEAM-------------------------*/

.team {
  background-color: var(--team-background-color);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  color: #212121;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: #212121;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: #757575;
}

/*--------------------FOOTER-----------------*/
footer {
  background-color: #2f303a;
  height: 252px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.bottomLogo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--hero-text-color);
}

.adress-bottom-item {
  color: #ffffff;
}

.e-mail {
  color: rgba(255, 255, 255, 0.6);
}
.phone {
  color: rgba(255, 255, 255, 0.6);
}
.adress-bottom-item:hover,
.adress-bottom-item:focus,
.e-mail:focus,
.e-mail:hover,
.phone:focus,
.phone:hover {
  color: var(--address-text-accent-color);
}
