:root {
    /*text colors*/
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-text-color-main: #2196F3;
    --logo-text-color-top: #000000;
    --logo-text-color-bottom: #FFFFFF;
    --contacts-text-color: #FFFFFF;
    --contacts-text-bottom: rgba(255, 255, 255, 0.6);

    /*button color properties*/
    --button-main-color: #F5F4FA;
    --button-text-color: #212121;
    --button-accent-color: #2196F3;
    --button-text-accent-color: #FFFFFF;
}
/* main text color #212121 */
/* secondary text color #757575 */
/* navigation:  active #2196F3 passive #212121*/     
/*adress-active: #2196F3 adress-passive: #757575*/
/* footer adress: #FFFFFF */
/* footer mail, tel:  rgba(255, 255, 255, 0.6) */

body {
    font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
    
    
        letter-spacing: 0.03em;
    background-color: #FFFFFF;
    color: #212121;
    
}

/* чтобы убрать точки с <ul> можно использовать .list (отдельные списки <ul class="# list") или <ul> все списки с параметром list-style: none; */
.list, .list-photos .team {
    list-style: none;
}
/*  ul {list-style: none;}*/

a {
    text-decoration: none;
}


.site-nav .link {
    color: var(--primary-text-color);
    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}



/* HERO */
.hero-title {
    background-color: #2F303A;
color: var(--hero-text-color);
height: 600px;
}

.hero-title {
    text-align: center;
    
}

/* SECTION */
.section-tille {
    color: var(--primary-text-color);
}
.section-subtitle {
    color: var(--title-text-color);
}


.section-team {
    background-color: #F5F4FA;
}


  /*контакты в header и footer */
.contacts-title {
    font-style: normal;
    color: var(--contacts-text-color);
}

.contacts-top {
    font-style: normal;
    color: var(--title-text-color);
}

.contacts-top:hover,
.contacts-top:focus {
    color: var(--accent-color);
}

.contacts-bottom {
    font-style: normal;
    color: var(--contacts-text-bottom);
}


.contacts-bottom:hover,
.contacts-bottom:focus {
    color: var(--accent-color);
}

button {
    font-family: inherit;
    color: var(--button-text-color);
    background-color: var(--button-main-color);
}
button:hover {
    color: var(--button-text-accent-color);
    background-color: var(--button-accent-color);
}



.logoWeb,
.logoStudioTop,
.logoStudioBottom {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;

}

.logoWeb {
    color:var(--logo-text-color-main);
}

.logoStudioTop {
    color: var(--logo-text-color-top);
}

.logoStudioBottom {
    color:var(--logo-text-color-bottom);
}


.footer {
    background-color: #2F303A;
}


header {
    display: flex;
    align-items:center ;
}


.navigation {
    display: flex;  
}

.list {
    display: flex


}

.list-photos {
    display: flex;
    flex-wrap: wrap;

}

.list-photos-item {
    width: 33.333333%;
}